.Card {
    width: 300px;
    height: auto;
    margin: auto;
    padding: 10px;
    background: transparent;
}
/*Theme presets*/
.dark {color: white;}
.light {color: black;}
/*Theme presets*/
.dark p {color: #a8a8a8;}
.light p {color: #6b6b6b;}

@media only screen and (max-width: 700px) {
    .Card {width: 95%;}
}